@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Montserrat:wght@900&display=swap');

.home-title {
    margin-top: 10px;
    font-size: 2em;
    font-family: "Indie Flower";
}

.logo {
    width: 80px;
    padding-top: 5px;
}


#content {
    max-width: 1600px;
    margin: 0 auto;
}

h2 {
    margin: 0;
}

nav a {
    padding: 35px;
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    text-align: center;
}

#hero-msg h1 {

    text-align: center;
}

#hero-msg h4 {
    font-family: "Montserrat", sans-serif;
    text-align: center;
}

.button-box {
    font-family: "Montserrat", sans-serif;
    text-align: center;
}

main section {
    font-family: "Montserrat", sans-serif;
    text-align: center;
}

#background {
    background-color: #1f4471;
    height: 725px;
}

body {
    background-color: rgb(255, 250, 244);
    margin: 0;
    padding: 0;
}

header {
    background-color: #1f4471;
}

nav a:hover {
    background-color: black;
}

nav a:hover {
    background-color: black;
    color: #cb23a6;
}

.book {
    border-radius: 5px;
    margin-top: 50px;
    padding: 15px 30px;
    font-size: 18px;
    background-color: coral;

}

.msg p {
    padding-bottom: 15px;
    font-size: 0.8em;
}

.join {
    border-radius: 5px;
    margin-top: 50px;
    padding: 15px 30px;
    font-size: 18px;
    background-color: brown;
}

.book:hover {
    background-color: chartreuse;
}

.join:hover {
    background-color: darkgreen;
}

.msg {
    padding: 35px;
    line-height: 1.5em;
    background-color: antiquewhite;
}

footer {
    margin-top: 200px;
    padding: 25px 50px;
    background-color: #1f4471;
}

.icon {
    padding-top: 10px;
    width: 80px;
}

nav a {
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
}

footer p {
    font-family: "Montserrat", sans-serif;
    color: white;
    text-decoration: none;
    font-size: 1.2em;
}

footer p a:hover {
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
}

footer .social img {
    padding-top: 15px;
}

#hero-img {
    width: 100%;
}

a {
    color: white;
    text-decoration: none;
}

.rivers-card {
    margin: 200px 0;
}

.camping-card {
    margin: 200px 0;
}

.rapids-card {
    margin: 200px 0;
}

.card-img {
    border: 10px solid #1f4471;
}

main section img {
    box-sizing: border-box;
}